body, html, #mainContainer {
    width: 100%;
    height: 100%;
}

body {
  background: url('../assets/wallpapers/swayGreenPattern.jpg');
}

#mainContainer {
  width: 100%;
  height: 100%;
}

    #headerLogo {
      width: 100%;
      background-color: white;
    }

        #mainLogo {
          width: 25%;
          margin-left: 40%;
        }

    #navContainer {
      width: 100%;
      min-height: 56.5px;
      background-color: rgb(244,115,33);
      border-top: 5px solid orangered;
      border-bottom: 5px solid orangered;
    }

        #menuBtn {
          margin-top: 6px;
          margin-left: 1em;
          width: 2em;
          height: 2em;
          display: none;
          text-align: center;
        }

            #menuBtn:active {
              background-color: rgb(24,128,33);
            }

            #openMenuBtn {
              width: 60%;
              height: 60%;
              margin-top: 9px;
              margin-left: auto;
              margin-right: auto;
            }

                #openMenuBtn>div {
                  margin-top: 4px;
                  margin-left:auto;
                  margin-right: auto;
                  width: 80%;
                  border: 1px solid white;
                  background-color: white;
                  display: block;
                }

            #closeMenuBtn {
              display: none;
              position: relative;
              width: 2em;
              height: 2em;
              opacity: .8;
            }
                .close:active {
                  background-color: rgb(24,128,33);
                  opacity: 1;
                }
                .close:before, .close:after {
                  position: absolute;
                  content: ' ';
                  height: 33px;
                  width: 2px;
                  background-color: white;
                }
                .close:before {
                  transform: rotate(45deg);
                }
                .close:after {
                  transform: rotate(-45deg);
                }

        #mobileDonateBtn {
          display: none;
          vertical-align: top;
          margin-top: 4px;
          margin-right: 1em;
          float: right;
        }

            #mobileDonateBtn>li {
              border: 1px solid white;
            }

                #mobileDonateBtn>li>a {
                  font-family: 'Fjalla One';
                  color: white;
                }

                    #mobileDonateBtn>li>a:visited {
                      background-color: rgb(244,115,33);
                    }

                    #mobileDonateBtn>li>a:active {
                      background-color: rgb(24,128,33);
                    }

        #navbar {
          display: block;
          width: 100%;
          text-align: center;
        }

            #navbar>div {
              display: inline-block;
              background-color: rgb(244,115,33);
              font-family: 'Cinzel';
            }

                #navbar>div>li {
                  padding-right: .5em;
                  padding-left: .5em;
                }

                    #navbar>div>li>a {
                      color: black;
                      font-size: 20px;
                      font-weight: bold;
                    }

                        #navbar>div>li>a:visited {
                          background-color: rgb(244,115,33);
                        }

                        #navbar>div>li>a:hover {
                          background-color: rgba(24,128,33, .8);
                          color: white;
                          transition-duration: .5s;
                        }

                    #homeSubMenu {
                      width: 100%;
                      border-left: 1px solid black;
                      border-right: 1px solid black;
                      border-top: 1px solid black;
                      text-align: left;
                      background-color: rgba(24,128,33, 1);
                      -webkit-animation: dropDownDelay .5s linear; /* Safari, Chrome and Opera > 12.1 */
                      animation-name: dropDownDelay .5s linear;
                    }

                        @keyframes dropDownDelay {
                          0% {opacity: 0}
                          100% {opacity: 1}
                        }

                        #homeSubMenu>li {
                          border-bottom: 1px solid black;
                        }

                        #homeSubMenu>li>a {
                          color: white;
                        }

                            #homeSubMenu>li>a:visited {
                              background-color: rgba(24,128,33, 1);
                            }

                            #homeSubMenu>li>a:hover {
                              background-color: orangered;
                            }

                        #govSubMenu {
                          border-left: 1px solid black;
                          border-right: 1px solid black;
                          border-top: 1px solid black;
                          margin-top: -25%;
                          margin-left: 101%;
                          width: 100%;
                          text-align: left;
                          background-color: rgba(24,128,33, 1);
                          -webkit-animation: dropDownDelay .5s linear; /* Safari, Chrome and Opera > 12.1 */
                          animation-name: dropDownDelay .5s linear;
                        }

                            #govSubMenu>li {
                              border-bottom: 1px solid black;
                            }

                            #govSubMenu>li>a {
                              color: white;
                            }

                                #govSubMenu>li>a:visited {
                                  background-color: rgba(24,128,33, 1);
                                }

                                #govSubMenu>li>a:hover {
                                  background-color: orangered;
                                }

        @media screen and (max-width: 768px) {

            #headerContainer {
              position: fixed;
              z-index: 1;
            }

                #menuBtn {
                  display: inline-block;
                }

                #mobileDonateBtn {
                  display: block;
                }

                #navbar {
                  margin-top: 5px;
                  display: none;
                }

                    #navbar>div {
                      display: block;
                      font-family: 'Fjalla One';
                      border-top: 2px solid orangered;
                    }

                        #navbar>div>li {
                          width: 100%;
                          padding-left: 0;
                          padding-right: 0;
                        }

                        #govSubMenu {
                          margin-top: 0;
                          margin-left: 0;
                        }

        }

    #mainBodyContainer {
      width: 100%;
      height: 100%;
    }

        #mainContent {
          width: 70%;
          min-height: 100%;
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 1em;
          padding-top: 1em;
          padding-left: 1em;
          padding-right: 1em;
          border-left: 25px solid rgb(0,178,128);
          border-right: 25px solid rgb(0,178,128);
          border-top: 25px solid rgb(32,255,128);
          border-bottom: 25px solid rgb(32,255,128);
          background-color: rgb(0,178,62);
        }

            .indexContainer {
              margin: 0 auto;
              width: 90%;
              border: 10px outset rgb(219,157,255);
              background: url('../assets/wallpapers/lavButterfly.jpg');
              background-size: cover;
              padding-bottom: 2em;
            }

                .topSec {
                  width: 100%;
                  margin-top: 2em;
                  padding-bottom: 1em;
                }

                    .topSec>h1 {
                      text-align: center;
                      font-family: 'Fjalla+One';
                    }

                    .slideContainer {
                      width: 90%;
                      height: 16em;
                      margin: 0 auto;
                      overflow: hidden;
                    }

                    .ledContainer {
                      margin-top: 1em;
                      text-align: center;
                    }

                        .ledInd {
                          width: 10px;
                          height: 10px;
                          border: 1px solid black;
                          display: inline-block;
                        }

                        .tempSlide {
                          -webkit-animation: fadeOut 15s linear;  Safari, Chrome and Opera > 12.1
                          animation-name: fadeOut 15s linear;
                          display: block;
                        }

                            @keyframes fadeOut {
                                80% {opacity: 1}
                                100% {opacity: 0}
                            }

                        .indSlideContainer {
                          -webkit-animation: slideLeftnFade 15s linear;  Safari, Chrome and Opera > 12.1
                          animation-name: slideLeftnFade 15s linear;
                          display: none;
                          width: 100%;
                          height: 16em;
                        }

                            @keyframes slideLeftnFade {
                                0% {margin-left: 100%}
                                15% {margin-left: 0}
                                80% {margin-left: 0}
                                80% {opacity: 1}
                                100% {opacity: 0}
                            }

                            .imgContent {
                              width: 100%;
                              max-height: 16em;
                              image-rendering: auto;
                              image-rendering: crisp-edges;
                              image-rendering: pixelated;
                            }

                .aboutUs {
                  padding-left: 4em;
                  padding-right: 4em;
                  padding-bottom: 2em;
                  font-family: 'Taviraj';
                  font-weight: bold;
                  font-size: 20px;
                }

                .historySec {
                  padding-left: 4em;
                  padding-right: 4em;
                  font-weight: bold;
                  font-family: 'Taviraj';
                  font-size: 20px;
                }

            .governanceContainer {
              width: 100%;
            }

                .govSecContainer {
                  background: url('../assets/wallpapers/tanFlower.jpg');
                  background-size: cover;
                  width: 90%;
                  border: 10px outset tan;
                  margin: 0 auto;
                  padding-bottom: 2em;
                }

                    .govSecContainer>section {
                      margin:0 auto;
                      width: 80%;
                      text-align: center;
                      padding-bottom: 2em;
                    }

                        .govSecContainer>section>h1 {
                          font-family: 'Taviraj';
                        }

                        .byLaws {

                        }

                        .duties {

                        }

                            .duties>img {
                              width: 600px;
                              margin: 0 auto;
                            }

                        .heiarchy {

                        }

                            .heiarchy>img {
                              margin: 0 auto;
                              width: 700px;
                              border: 1px solid black;
                            }

            .missionContainer {
              width: 100%;
              height: 100%;
            }

                .missionStatCont {
                  width: 90%;
                  margin: 0 auto;
                  background-color: black;
                  border: 10px outset orangered;
                  padding-bottom: 2em;
                }

                    #mem2003 {
                      width: 70%;
                      text-align: center;
                      margin: 0 auto;
                    }

                .missionStatCont>h1 {
                  width: 80%;
                  margin: 0 auto;
                  text-align: center;
                  color: orangered;
                  padding-top: .5em;
                  padding-bottom: .5em;
                  border-bottom: 1px solid orangered;
                  font-family: 'Taviraj';
                }

                .missionStatement {
                  background-color: rgb(0,0,0);
                  font-size: 24px;
                  margin-left: 4em;
                  margin-right: 4em;
                  color: orangered;
                  font-family: 'Taviraj';
                  padding-bottom: 2em;
                }

            .programsContainer {
              width: 100%;
              height: 100%;
            }

                .progSecContainer {
                  width: 90%;
                  background: url('../assets/wallpapers/silverFlowerPattern.jpeg');
                  border: 10px outset silver;
                  margin: 0 auto;
                  padding-bottom: 2em;
                }

                    .progSecContainer>section {

                    }

                        .mentoring {
                          text-align: center;
                          padding-bottom: 2em;
                        }

                            .mentContentContainer {

                            }

                                #mentAppContainer {
                                  width: 100px;
                                  display: block;
                                  margin: 0 auto;
                                }

                                    #mentAppPic {
                                      margin: 0 auto;
                                    }

                        .scholarship {
                          text-align: center;
                        }

                        .volunteer {
                          text-align: center;
                        }

            .eventsContainer {
              width: 100%;
              height: 100%;
            }

                .eventsContent {
                  margin: 0 auto;
                  width: 90%;
                  text-align: center;
                  background-color: skyblue;
                  border: 10px outset lightblue;
                  padding-bottom: 2em;
                }

                .eventsContentMobile {
                  margin: 0 auto;
                  width: 90%;
                  background-color: skyblue;
                  border: 10px outset lightblue;
                  padding-bottom: 2em;
                  display: none;
                }

                    .eventsContentMobile>h1 {
                      text-align: center;
                    }

                    .eventsContentMobile>section {
                      padding-top: 5px;
                      padding-bottom: 5px;
                      padding-right: 10px;
                    }

                        .eventsContentMobile>ul {
                          margin-left: 0;
                          text-align: left;
                          border: 1px solid black;
                        }

                    .eventsContent>h1 {
                      margin-top: 0;
                      padding-top: .5em;
                      font-family: 'Taviraj';
                    }

                    .eventPlanner {

                    }

                        .eventPlanner>table {
                          width: 800px;
                          border: 1px solid black;
                          background-color: white;
                          margin: 0 auto;
                        }

                            .eventPlanner>table>thead {
                              display: inline-block;
                              text-align: center;
                            }

                            .eventPlanner>table>thead>tr {

                            }

                                .eventPlanner>table>thead>tr>th {
                                  vertical-align: middle;
                                }

                            .eventPlanner>table>tbody {
                              display: inline-block;
                              height: 280px;
                              overflow: scroll;
                            }

                                .eventDeleteBtn {
                                  background-color: red;
                                  padding: .5em;
                                  border: 3px outset red;
                                  font-weight: bold;
                                  outline: none;
                                }

                                    .eventDeleteBtn:visited {
                                      text-decoration: none;
                                    }

                                    .eventDeleteBtn:active {
                                      border: 3px inset red;
                                    }

                    .addEntryContainer {

                    }

                        .dropDownContainer {

                        }

                        #addEventBtn {
                          background-color: skyblue;
                          text-decoration: underline;
                          font-weight: bold;
                          border: none;
                          outline: none;
                        }

                        #eventCreateForm {
                          margin: 0 auto;
                          background-color: rgba(54, 139, 193,.5);
                          padding: 2em;
                          display: none;
                          font-size: 18px;
                        }


                            .formContainer {
                              text-align: left;
                            }

                                .firSectContainer {

                                }

                                .secSectConatainer {

                                }

                                .thirdSectContainer {
                                  margin-top: 1em;
                                }

                                    .thirdSectContainer>textarea {
                                      height: 5em;
                                    }

                            .eventCreateBtn {
                              margin-top: 1em;
                              background-color: limegreen;
                              padding: .5em 1em .5em 1em;
                              border: 3px outset limegreen;
                              font-weight: bold;
                              outline: none;
                            }

                                .eventCreateBtn:visited {
                                  text-decoration: none;
                                }

                                .eventCreateBtn:active {
                                  border: 3px inset limegreen;
                                }

                    #calender {

                    }

            .contactUsContainer {
              width: 100%;
              height: 100%;
            }

                .contactUsContentContainer {
                  width: 90%;
                  margin: 0 auto;
                  background: url('../assets/wallpapers/curiousCat.jpg');
                  background-position: center;
                  background-size: cover;
                  border: 10px inset white;
                  text-align: center;
                  padding-top: 1em;
                  padding-bottom: 2em;
                }

                    .contactUsContentContainer>h1 {
                      width: 80%;
                      margin: 0 auto;
                      font-family: 'Taviraj';
                    }

                    #indSectContainer {
                      margin-top: 1.5em;
                      padding-top: 2em;
                      border-top: 1px solid black;
                      border-bottom: 1px solid black;
                    }

                        #indSectContainer>section {
                          font-family: 'Taviraj';
                          font-weight: bold;
                        }

                        #indSectContainer>section>img {
                          width: 100px;
                        }

                    .contOutlinedFormat {
                      width: 45%;
                      font-family: 'Taviraj';
                    }

                        .contOutlinedFormat>section {
                          padding-bottom: .5em;
                        }

                        .contOutlinedFormat>section>h2 {

                        }

                        .contOutlinedFormat>section>p {
                          font-family: 'Taviraj';
                          font-size: 18px;
                          font-weight: bold;
                        }

                            #fbLink>img {
                              margin: 0 auto;
                              width: 50px;
                            }

                                #fbLink>img:hover {
                                  opacity: .7;
                                  transition-duration: 1s;
                                }

            .donateContainer {
              width: 100%;
              height: 100%;
            }

                .donateContentContainer {
                  width: 90%;
                  margin: 0 auto;
                  border: 10px outset rgb(219,157,255);
                  padding-bottom: 2em;
                  background-color: lavender;
                  text-align: center;
                }

                    .donateContentContainer>h1 {
                      font-family: 'Taviraj';
                    }

                .donateContentContainer>img {
                  width: 80%;
                }

                    .donateBtnContainer {
                      text-align: center;
                    }

                        .donateBtn {
                          padding: 1em 1.5em 1em 1.5em;
                          background-color: rgb(0,0,128);
                          color: white;
                          font-family: 'Cinzel';
                          font-weight: bold;
                          border: 5px outset rgb(0,0,128);
                        }

                        .donateBtn {
                          text-decoration: none;
                          outline: none;
                        }

                        .donateBtn:visited {
                          color: inherit;
                          text-decoration: none;
                        }

                        .donateBtn:active {
                          border: 5px inset rgb(0,0,128);
                        }

        #upScroll {
          width: 50px;
          height: 50px;
          margin-right: 2em;
          position: fixed;
          bottom: 60px;
          right: 20px;
        }

            #upScroll>a {
              opacity: .5;
            }

                #upScroll>a:hover {
                  cursor: pointer;
                  transition-duration: .5s;
                  opacity: .8;
                }

                #upScroll>a>img {
                  width: 25px;
                  background-color: black;
                  text-align: center;
                  border: 1px solid black;
                  border-radius: 10%;
                  padding: 10px;
                }

        #myFooter {
          margin-top: 3em;
          padding-top: 1em;
          padding-bottom: 1em;
          text-align: center;
          background-color: rgb(244,115,33);
        }


        @media screen and (max-width: 768px) {

          .slideContainer {
            height: 5em;
          }

          .aboutUs {
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 0;
            font-size: 18px;
            text-align: center;
          }

          .historySec {
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 0;
            font-size: 18px;
            text-align: center;
          }

          .missionStatement {
            margin-left: 5px;
            margin-right: 5px;
            padding-bottom: 0;
            font-size: 18px;
            text-align: center;
          }

          .eventsContent {
            display: none;
          }

          .eventsContentMobile {
            display: block;
          }

          #indSectContainer>section {
            padding-bottom: 25px;
          }

          #indSectContainer>section>h2 {
            margin-top: 0;
            margin-bottom: 0;
          }

          .contactUsContentContainer {
            background: white;
          }

          .contOutlinedFormat {
            width: 100%;
            text-align: center;
          }

              .contOutlinedFormat>section {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
              }

          #upScroll {
            right: 0;
            margin-right: 5px;
          }

        }
