body, html, #mainContainer {
    height: 94.5%;
}

body {
  /*Logo colors: seagreen, rgb(0,178,62*/
/*  background-color: mediumseagreen;
*/  background-color: rgb(0,178,62);
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Taviraj';
  font-weight: bold;
}

.slideIn {
  -webkit-animation: slideInLeft 2s; /* Safari, Chrome and Opera > 12.1 */
  animation-name: slideInLeft;
}
    @keyframes slideInLeft {
      from  {
        width: 100%;
        margin-left: 100%;
      }
      to {
        width: 100%;
        margin-left: 0%;
      }
    }

.slideOut {
/*  -webkit-animation: slideOutLeft 2s;  Safari, Chrome and Opera > 12.1
  animation-name: slideOutLeft;*/
}

    @keyframes slideOutleft {
      from  {
        width: 100%;
        margin-left: 0%;
      }
      to {
        width: 100%;
        margin-left: -100%;
      }
    }

#mainContainer {

}

    #headerLogo {
      width: 100%;
      background-color: white;
    }

        #mainLogo {
          width: 25%;
          height: 100%;
          margin-left: 40%;
        }

    #navContainer {
      background-color: rgb(244,115,33);
      border-top: 5px solid orangered;
      border-bottom: 5px solid orangered;
      font-family: 'Cinzel';
      font-weight: bold;
    }
        #navbar {
          margin-left: 10%;
        }

        #navbar>div {
          display: inline-block;
          background-color: rgb(244,115,33);
          border-collapse: collapse;
        }

/*        .triShape {
          float: right;
          border-left: 22px solid rgb(0,0,128);
          border-right: 22px solid rgb(244,115,33);
          border-bottom: 22px solid rgb(244,115,33);
          border-top: 22px solid rgb(244,115,33);
        }*/

        #navbar>div>li>a {
          color: black;
          font-size: 20px;
        }

        #navbar>div>li>a:visited {
          background-color: rgb(244,115,33);
        }

        #navbar>div>li>a:hover {
          background-color: rgba(24,128,33, .8);
          color: white;
          transition-duration: 1s;
        }

        @media screen and (max-width: 768px) {

            #navbar>div {
              display: block;
            }

        }

    #mainBodyContainer {
      width: 100%;
      height: 100%;
   }

        #mainContent {
          width: 80%;
          height: 100%;
          margin: 0 auto;
          background-color: rgba(25,255, 105, .4);
/*          border-width: 25px;
          border-style: outset;
          border-color: rgb(32,255,128);*/

          border-left: 25px solid rgb(0,178,128);
          border-right: 25px solid rgb(0,178,128);
          border-top: 25px solid rgb(32,255,128);
          border-bottom: 25px solid rgb(32,255,128);
        }

            .indexContainer {
              width: 100%;
              height: 100%;
            }


                .slideContainer {
                  width: 95%;
                  height: 47%;
                  margin: 0 auto;
                  overflow: hidden;
/*                  border:1px solid black;
*/                }

                @media screen and (max-width: 768px){
                    .slideContainer {
                      width: 95%;
                      height: 14%;
                      margin: 0 auto;
                      overflow: hidden;
                      border: 1px solid black;
                    }
                }

                    .indSlideContainer {

                    }


                        .imgContainer {
                          width: 100%;
                          height: 100%;
                        }

                        .imgContent {
                          width: 100%;
                          height: 100%;
                        }

                .donateBtnContainer {
                  text-align: center;
                }

                    .donateBtn {
                      padding: 1em 1.5em 1em 1.5em;
                      background-color: rgb(0,0,128);
                      color: white;
                      border: 5px outset rgb(0,0,128);
                    }

                    .donateBtn {
                      text-decoration: none;
                      outline: none;
                    }

                    .donateBtn:visited {
                      color: inherit;
                      text-decoration: none;
                    }

                    .donateBtn:active {
                      border: 5px inset rgb(0,0,128);
                    }


            .missionContainer {
              width: 100%;
              height: 100%;
            }

                .missionStatement {
                  margin-left: 4em;
                  margin-right: 4em;
                }

            .programsContainer {
              width: 100%;
              height: 100%;
            }

            .eventsContainer {
              width: 100%;
              height: 100%;
            }

            .contactUsContainer {
              width: 100%;
              height: 100%;
            }

                .boardMembersContainer {
                  text-align: center;
                  border: 1px solid black;
                }

                .indBoardMembersContainer {

               }


        #myFooter {
          text-align: center;
          margin-top: 4em;
          padding: 1em;
          background-color: rgb(244,115,33);
        }
/*.navContainer {
  width: 15%;
  height: 100%;
  border: 1px solid orange;
}

.myNav {
  border: solid 1px black;
}*/
