<div class='eventsContainer'>
  <div class='eventsContent'>
    <h1>Events</h1>
    <div class='eventPlanner'>
      <table class='pure-table pure-table-striped'>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Event Description</th>
            <th>Location / Address</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in eventArr">
            <td>{{event.e_date}}</td>
            <td>{{event.e_time}}</td>
            <td>{{event.e_desc}}</td>
            <td>{{event.e_loc}}<br><br>{{event.e_add}}</td>
            <td><button class='pure-button' id='eventDeleteBtn'>Delete <span>{{event._id}}</span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>

    <iframe src="https://calendar.google.com/calendar/embed?src=6s56pe6kfvs0gqslr4hdta0gcs%40group.calendar.google.com&ctz=America/Los_Angeles"
            style="border: 0" width="800" height="600" frameborder="0" scrolling="no" id='calendar'>
    </iframe>
  </div>
</div>
