<div class='programsContainer'>
  <div class='progSecContainer'>
    <section class='mentoring'>
      <h1>MENTORING</h1>
      <div class='mentContentContainer'>
        <h4>MENTEE APPLICATION</h4>
        <a href='../assets/mentoringApplication/mentApplication.pdf'
          target='../assets/mentoringApplication/mentApplication.pdf' id='mentAppContainer'>
          <img src='../assets/mentoringPics/mentAppPic.jpg' width='100px' class='pure-img' id='mentAppPic'>
        </a>
        <br>
        <h4>CLICK LINK BELOW<br>TO DOWNLOAD</h4>
        <a href='../assets/mentoringApplication/mentApplication.pdf'
           download='../assets/mentoringApplication/mentApplication.pdf'>
          CgnwcMenteeApplication.pdf
        </a>
      </div>
    </section>
    <section class='scholarship'>
      <h1>SCHOLARSHIP</h1>
    </section>
    <section class='volunteer'>
      <h1>VOLUNTEER</h1>
    </section>
  </div>
</div>
