<div class='programsContainer'>
  <div class='progSecContainer'>
    <section class='mentoring'>
      <h1>MENTORING</h1>
        <a href='../assets/mentoringApplication/mentApplication.pdf'>
          <img src='../assets/mentoringPics/mentAppPic.jpg' width='400px' class='pure-img' id='mentAppPic'>
        </a>
        <br>
        <a href='../assets/mentoringApplication/mentApplication.pdf' download='../assets/mentoringApplication/mentApplication.pdf'>
          CgnwcMenteeApplication.pdf</a>

    </section>
    <section class='scholarship'>
      <h1>SCHOLARSHIP</h1>
    </section>
    <section class='volunteer'>
      <h1>VOLUNTEER</h1>
    </section>
  </div>
</div>
